.element__group {
    max-width: 246px;
    width: 100%;
    max-height:35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 15px 28px 21px;
}

@media screen and (max-width:600px) {
    .element__group {
        max-width: 190px;
        margin: 10px auto;
    }
}

@media screen and (max-width:425px) {
    .element__group {
        max-width: 246px;
        margin: 25px 15px 31px 21px;
    }
}
